# Swift Package Manager
.build/
.swiftpm/
Package.resolved
version.env

# Xcode
xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.dmg
cert.p12

# Build products
*.app
*.framework
*.dylib
*.a
*.o
*.swiftmodule
*.swiftdoc

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift REPL
.repl_history

# Code coverage
*.profdata
*.profraw
xcov/
*.gcda
*.gcno

# Temporary files
*~
*.swp
*.swo
*.tmp
*.bak

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
